[core]
    editor = vim
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitexclude

[user]
    email = shtylman@gmail.com
    name = Roman Shtylman

[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto

[alias]
    st = status
    stu = status -uno
    br = branch
    ci = commit
    co = checkout
    stno = status -uno

[push]
    default = simple
